body {
	margin: 5% auto; 
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	padding: 0 15px;
	font-family: "Avenir";
	color: #444;
	background: #f2f2f2;
}
a {
	text-decoration: none;
	color: #444;

}
a:hover {
	text-decoration: underline;
}
h2{
	letter-spacing: 5px;
	font-family: "Avenir";
}